*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    margin: 0% 20%;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale; 


}
h3{
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: rgb(56,56,56);
    margin: 2rem 0rem;
}